* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: #f0f0f0;
}

.header {
  background-color: #333;
  color: #ededed;
  padding: 1.5rem 3rem;
}

.users-form {
  background-color: rgba(49, 49, 49, 0.856);
  width: 32rem;
  margin: 2rem auto;
  border-radius: 5px;
  box-shadow: 0 10px 15px #00000033;
  padding: 3rem 2rem 1rem 2rem;
}

.input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  color: #fff;
}

.input-box input {
  flex: 1;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border: none;
  padding: 0.5rem;
  background-color: #2b2a2a9c;
  color: inherit;
}

.input-box label {
  width: 7rem;
  font-size: 1.4rem;
}

.users-form button {
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: royalblue;
  color: #fff;
  margin-top: 1rem;
}

.success-msg,
.error-msg {
  color: #01ff63;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
}

.error-msg {
  color: #ff7605;
}
